<!DOCTYPE html>
<html lang="en" ng-app="HackAThon">
<!--
   {{! changing the mustache delimiter so it doesn't conflict with  }}
   {{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
   {{=<% %>=}}
--->
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../static/js/tiy-ng-controller.js"></script>
    <script src="/js/tiy-ng-controller.js"></script>
</head>
/Users/RdDvls/Documents/sandbox/HackAThon/src/main/resources/static.js/tiy-ng-controller.js
<div>
    <br><br>
</div>
<head>
   Blah
</head>

<body ng-controller="HackAThonController">
    <input type="text" placeholder="First name" ng-model="firstName"/>
    <input type="text" placeholder="Last name" ng-model="lastName"/>
    <input type="text" placeholder="Email" ng-model="email"/>
    <input type="text" placeholder="Password" ng-model="password"/>
    <input type="button" value="Register" ng-click="register(firstName,lastName,email,password)"/>

</body>
</html>